<h1>Input & Output</h1>
<p>Managing state - whether it is the global state of an entire page (such as information about the currently
  logged in user) or the state of a single component (such as the amount of a particular item in a user's
  ecommerce shopping cart) is consistently one of the most difficult aspects of front-end development. Now that we have
  separated the functionality of our site across many components, we have to re-engineer how data can flow between
  components. We will refer to the relationship of a component rendering another component in its HTML template
  as parent and child components. We will look into how a parent component can send data to its child component,
  and then how a child component can send data to its parent component. Check out the routes linked at
  the top of the site.</p>
