<h2>Parent component to child component</h2>
<p>Transferring data from a parent to child is pretty basic. Variables can be passed into the component
from the parent component's template if the destination variable is marked with the @Input decorator in the
child component.</p>
<p>In this case, dataFromParent is a variable belonging to the child component "input", and "var1", "var2" are variables
belonging to this (parent) component. Notice this looks a bit like property binding. Your next task is going to be to
  pass another variable, "todoVar", into the child component's "todoInput" variable so that it can be displayed.
  this will require you to bind "todoVar" in the parent component's HTML template and to add the @Input() decorator over
  the child component's "todoInput" variable.</p>
<app-input [dataFromParent]="var1"></app-input>
<app-input [dataFromParent]="var2"></app-input>
